<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LearnX.styles.css" asp-append-version="true" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-opacity-75 bg-white shadow-sm px-4 bg  fixed-top">
            <h1 class="text-2xl font-bold bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent">LearnX</h1>

            <div class="ms-auto">
                <button class="btn btn-white table-hover me-2">Login</button>
                <button class="btn btn-dark me-3">Get Started</button>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-0">
        @RenderBody()
    </div>

    <footer class="bg-dark text-white pt-5 pb-3 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>LearnX</h5>
                    <p>Job-Oriented Learning Platform</p>
                </div>
                <div class="col-md-3">
                    <h6>Platform</h6>
                    <p>Skill Paths</p>
                    <p>Courses</p>
                    <p>Assessments</p>
                </div>
                <div class="col-md-3">
                    <h6>Company</h6>
                    <p>About Us</p>
                    <p>Careers</p>
                    <p>Contact</p>
                </div>
                <div class="col-md-3">
                    <h6>Legal</h6>
                    <p>Privacy Policy</p>
                    <p>Terms of Service</p>
                </div>
            </div>

            <div class="text-center mt-4">
                © 2024 LearnX. All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>
